<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Employee List</h2>
  <button routerLink="/employees/add" class="btn btn-primary">Add New Employee</button>
</div>

<div class="mb-3 d-flex">
  <input type="text" class="form-control me-2" placeholder="Search by ID or Name..." [(ngModel)]="searchTerm"
    (input)="searchEmployees()">
  <button class="btn btn-secondary" (click)="searchEmployees()">Search</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Title</th>
      <th>Division</th>
      <th>Building</th>
      <th>Room</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of filteredEmployees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstname }}</td>
      <td>{{ employee.lastname }}</td>
      <td>{{ employee.title }}</td>
      <td>{{ employee.division }}</td>
      <td>{{ employee.building }}</td>
      <td>{{ employee.room }}</td>
      <td>
        <button (click)="editEmployee(employee.id)" class="btn btn-sm btn-warning me-2">Edit</button>
        <button (click)="deleteEmployee(employee.id)" class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>